/*start user page*/
.add
{
   background-image: linear-gradient(rgba(69, 39, 160,0.3),rgba(49, 27, 146,0.3)),url("../img/7.jpg")  !important;
   background-repeat: no-repeat;
height: 100ch;
   background-size: cover;
  
}
.add h1
{
    text-transform: capitalize;
font-family: 'Pacifico', cursive;
font-size: 50px;
color: ghostwhite;
margin-bottom: 20px;
}
.add label
{
    text-transform: capitalize;
    font-weight: bold;
    color: ghostwhite;
    font-size: 20px;
}
.table tr td
{
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
}
 .table tr td .btn-danger
{
    margin-left: -64px;
}
